<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Project Rosè</title>
  <link rel="stylesheet" href="/css/rose.css">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/rose.js"></script>
  <link rel="icon" type="image/x-icon" href="/img/favicons/favicon.ico">
  <meta charset="UTF-8">
  <meta name="description" content="Project that revives Nintendo TVii and Demae-can for Wii U">
  <meta name="keywords"
    content="tvii, nintendotvii, project, projectrose, projectrosè, vino, acr, demae, demaecan, wiiu">
  <meta name="author" content="Project Rosè">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="Project Rosè" />
  <meta property="og:description" content="Project that revives Nintendo TVii and Demae-can for Wii U" />
  <meta property="og:image" content="http://projectrose.cafe/img/Project_Rose_No_Shadow.png" />
  <meta property="og:url" content="http://projectrose.cafe" />
  <meta name="theme-color" content="#ff72b6">
  <title>Project Rosè</title>
</head>

<body>

  <div class="wrapper">
    <div class="content">
      <img class="logo" src="/img/Project_Rose_No_Shadow.png">

      <div class="exp">
        <h1>Hmm... We can't find what you're looking for</h1>
        <p><a href="/">Go back home?</a></p>
      </div>
    </div>
  </div>

</body>

</html>